In [3]:
import pandas as pd

In [17]:
gf = pd.read_excel(r'C:\Users\dabinlee\Documents\GitHub\mwdsbe_binny\MWDSBE\mwdsbe\data\cwedp_37_report.xlsx', sheet_name='general_funds')

In [29]:
city_payments = pd.read_excel(r'C:\Users\dabinlee\Documents\GitHub\mwdsbe_binny\MWDSBE\analysis\data\payments\city_payments_detailed_2017.xlsx')

In [18]:
gf.head()

,DR_ACCT,CR_ACCT,CURR_PRIOR_FLAG,POSTED_DATE,DEPT,SEC_FD,INDEX,PROGRAM_CD,MAJ_CLASS,CLASS,DOC_NUM,TRANS_DESC,DOC_REF_NUM,VEND_NAME,VEND_NUM,AMT,DOC_NUM4,DOC_REF4
0,431,101,CURR,2018-07-18,1,10,10058,NaN,1,0101,PAYR1900105401,P.P.E. 07152018,NaN,NaN,NaN,504314.18,PAYR,NaN
1,431,101,CURR,2018-07-18,1,10,10058,NaN,1,0111,PAYR1900105501,P.P.E. 07152018,NaN,NaN,NaN,6653.37,PAYR,NaN
2,431,101,CURR,2018-07-18,1,10,10058,NaN,1,0121,PAYR1900105601,P.P.E. 07152018,NaN,NaN,NaN,13407.00,PAYR,NaN
3,431,101,CURR,2018-07-18,1,10,10058,NaN,1,0161,PAYR1900105701,P.P.E. 07152018,NaN,NaN,NaN,232.50,PAYR,NaN
4,431,101,CURR,2018-08-01,1,10,10058,NaN,1,0101,PAYR1900383001,P.P.E. 07292018,NaN,NaN,NaN,514447.01,PAYR,NaN

In [19]:
len(gf)

324213

In [20]:
gf = gf.loc[gf['MAJ_CLASS'] != 1]

In [21]:
len(gf)

247721

In [25]:
gf = gf.loc[gf['VEND_NAME'].dropna().index]

In [26]:
len(gf)

243375

## General Funds by Departments

In [28]:
gf.groupby('DEPT')['AMT'].sum().to_frame('N').reset_index()

    DEPT             N
0      1  2.425961e+06
1      3  1.822571e+05
2      4  5.354685e+07
3      5  8.218587e+05
4      6  2.051770e+05
5      8  5.719864e+05
6     10  7.371505e+07
7     11  1.322669e+07
8     12  5.885914e+07
9     13  2.404124e+07
10    14  8.003469e+07
11    15  1.392883e+07
12    16  1.458840e+07
13    18  3.125000e+05
14    20  1.917484e+08
15    22  7.894722e+07
16    23  8.727335e+07
17    24  4.260348e+07
18    25  4.361780e+07
19    26  1.431122e+07
20    27  1.063580e+04
21    31  1.423452e+06
22    34  2.550000e+06
23    35  3.713904e+08
24    36  7.650602e+06
25    37  2.569326e+08
26    38  2.348238e+06
27    40  4.314215e+05
28    41  3.949471e+05
29    42  1.997905e+07
30    44  6.457862e+06
31    45  2.544862e+04
32    48  8.241853e+04
33    49  3.948662e+05
34    50  1.577843e+06
35    52  5.165746e+06
36    54  5.335159e+04
37    55  2.950000e+04
38    56  6.562459e+05
39    58  3.854376e+06
40    59  1.172827e+06
41    61  2.630892e+05
42    63  3.356626e+04
43    65  2.178060e+06
44    66  2.467246e+07
45    68  1.003476e+05
46    69  3.409502e+06
47    70  6.552481e+05
48    72  7.594302e+06
49    73  4.668170e+06
50    84  1.629743e+07

In [32]:
simple_cp = city_payments[['dept', 'department_title']]

In [37]:
simple_cp['department_title'].str.split?

In [46]:
simple_cp['department_title'] = simple_cp['department_title'].str.split(" ", 1, expand=True)[1]

C:\Users\dabinlee\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [47]:
simple_cp

        dept          department_title
0         42                  COMMERCE
1         26    LICENSES & INSPECTIONS
2         44                       LAW
3         11                    POLICE
4         23                   PRISONS
...      ...                       ...
238889    15  OFFICE OF BH/MR SERVICES
238890    15  OFFICE OF BH/MR SERVICES
238891    15  OFFICE OF BH/MR SERVICES
238892    15  OFFICE OF BH/MR SERVICES
238893    15  OFFICE OF BH/MR SERVICES

[238894 rows x 2 columns]

In [50]:
gf.merge(simple_cp, left_on="DEPT", right_on="dept", how="left")

MemoryError: