In [1]:
import geopandas as gpd
import mwdsbe

In [2]:
zillow = gpd.read_file('data/neighborhood/zillow_neighborhoods.geojson')
# zillow = zillow.to_crs(epsg=3857)

In [3]:
registry = mwdsbe.load_registry() # geopandas df

In [4]:
registry_geo = registry.dropna(subset=['geometry'])

In [5]:
registry_gdf = gpd.GeoDataFrame(registry_geo, geometry='geometry', crs={"init": "epsg:4326"})

In [6]:
# registry_gdf = registry_gdf.to_crs(epsg=3857)

In [7]:
joined = gpd.sjoin(registry_gdf, zillow, op='within', how='left')

In [8]:
joined.to_excel (r'C:\Users\dabinlee\Documents\GitHub\mwdsbe_binny\MWDSBE\analysis\data\registry\joined_nhoods.xlsx', header=True)

In [9]:
totals = joined.groupby('ZillowName').size()
totals = totals.to_frame('N').reset_index()
totals.head()

         ZillowName  N
0           Airport  2
1    Allegheny West  6
2           Andorra  2
3  Aston Woodbridge  2
4   Bartram Village  1

In [10]:
totals = zillow.merge(totals, on='ZillowName', how='left')

In [11]:
len(totals)

158

In [12]:
totals['N'] = totals['N'].fillna(0)

In [13]:
totals

,ZillowName,geometry,N
0,Academy Gardens,"POLYGON ((-74.99851 40.06435, -74.99456 40.061...",0.0
1,Airport,"POLYGON ((-75.19728 39.89252, -75.19617 39.892...",2.0
2,Allegheny West,"POLYGON ((-75.16592 40.00327, -75.16596 40.003...",6.0
3,Andorra,"POLYGON ((-75.22463 40.06686, -75.22588 40.065...",2.0
4,Aston Woodbridge,"POLYGON ((-75.00860 40.05369, -75.00861 40.053...",2.0
...,...,...,...
153,Wister,"POLYGON ((-75.17210 40.03840, -75.17197 40.037...",4.0
154,Woodland Terrace,"POLYGON ((-75.20399 39.94968, -75.20396 39.949...",1.0
155,Wynnefield,"POLYGON ((-75.22070 40.00392, -75.21792 39.994...",6.0
156,Wynnefield Heights,"POLYGON ((-75.20103 40.00419, -75.20410 40.000...",7.0
157,Yorktown,"POLYGON ((-75.14917 39.97907, -75.15096 39.970...",0.0

In [24]:
totals.to_file(r'C:\Users\dabinlee\Documents\GitHub\mwdsbe_binny\MWDSBE\analysis\data\registry\totals_nhoods.geojson', driver='GeoJSON')